.list-wrapper{
    min-height: 100%;
    background-color: #efeff4;
    .sort-wrapper{
        border-top: 1px solid #efeff4;
        background-color: #fff;
        @include flex;
        .item{
            line-height: px(60);
            text-align: center;
            border-right: 1px solid #efeff4;
            @include flex-one;
            &:after{
                content: "";
                display: inline-block;
                width: px(30);
                height: px(60);
                margin-left: px(10);
                vertical-align: top;
                @include icon-image;
                background-position: px(0) px(-378);
            }
            &.down{
                &:after{
                    background-position: px(0) px(-478);
                }
            }
        }
    } 
}
